<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="dev" class="org.example.Dev">
        <!-- injection using setter -->
<!--    <property name="age" value="122"/>-->
<!--        <property name="laptop" ref="lap1"/> &lt;!&ndash; this is for setters injection  &ndash;&gt;-->
        <constructor-arg value="12"/>  <!--this is for constructors injection -->
    </bean>
    <bean id="laptop" class="org.example.Laptop"/>


</beans>