<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="dev" class="org.example.Dev">
        <constructor-arg ref="lap1"/>
        <!-- injection using setter -->
<!--        <property name="laptop" ref="lap1"/> &lt;!&ndash; this is for setters injection  &ndash;&gt;-->
    </bean>
    <bean id="lap1" class="org.example.Laptop"/>


</beans>